In [9]:
# Add the Pandas dependency.
import pandas as pd

In [14]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [15]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school_types in high_school_types:
    print(school_types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
In [8]:

In [ ]:
# Add the Pandas dependency.
import pandas as pd

In [16]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [17]:
for i in school_series:
    print(high_schools)

['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']
['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']
['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']
['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

In [18]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [19]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [ ]:
school_df.index

In [22]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [23]:
 Initialize a new DataFrame.
schools_df = pd.DataFrame()

SyntaxError: invalid syntax (2343656591.py, line 1)

In [24]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Add the list to a new DataFrame.
schools_df["School Name"] = school_name

# Add the list to a new DataFrame.
schools_df["Type of School"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [25]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [26]:
# Initialize a new DataFrame.
high_schools_dict = pd.DataFrame()

In [27]:
# Add the list to a new DataFrame.
high_schools_dict["School ID"] = school_id

# Add the list to a new DataFrame.
high_schools_dict["School Name"] = school_name

# Add the list to a new DataFrame.
high_schools_dict["Type of School"] = type_of_school

# Print the DataFrame.
high_schools_dict

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [28]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [29]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)